<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
  <title>Ticket for {{FirstName}} {{LastName}}</title>
  <style>
  </style>
</head>
<body>
<div>
  <div>
    <p> <font size="+5">Travel Ticket </font></p>
    <p style="border-bottom: solid"> <font size="+4">Dear, customer here your travel information</font></p>
    </div>
        <p> <font size="+4"> Travel Agent: {{ book.tour_detail.tour.travel_agent_id }}</font> </p>
        <p><font size="+4">Tour name: {{book.tour_detail.tour.title}} </font></p>
        <p><font size="+2">Description: {{book.tour_detail.tour.text}}</font></p>
        <p><font size="+4">Start city: {{book.tour_detail.tour.city}}</font></p>
        <p><font size="+4">End city: {{book.tour_detail.tour.tour_end_city}}</font></p>
        <p><font size="+4">Price for one person: {{book.tour_detail.tour.price}} {{book.tour_detail.tour.currency}}</font></p>
        <p><font size="+4">Age requirements: {{book.tour_detail.tour.age_requirements}}+</font></p>
        <p><font size="+4">Tour type: {{book.tour_detail.tour.type_of_tour}}</font></p>
        <p><font size="+4">Number of persons: {{book.booking_number_of_persons}}</font></p>
        <p><font size="+4">Tour type: {{book.tour_detail.tour.type_of_tour}}</font></p>
          {% if book.tour_detail.tour.hotel %}
          <p style="border-bottom: solid"><font size="+4">Tour Hotel: {{book.tour_detail.tour.hotel}}</font></p>
        {% else %}
          <p style="border-bottom: solid"><font size="+4">Travel agent does not provide Hotel for this tour</font></p>
        {% endif %}
  <br> <br>
        <p style="border-bottom: solid"><font size="+4">Date information</font></p>
        <p><font size="+4">Start date: {{start_date}}</font></p>
        <p><font size="+4">End date: {{end_date}}</font></p>
        <p style="border-bottom: solid"><font size="+4">Duration: {{book.tour_detail.tour.duration}} days</font></p>
  <br><br>
  </div>
    <p align="right"><font size="+4">Total price: {{total_amount}} {{book.tour_detail.tour.currency}}</font></p>
</body>
</html>
